<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.GoodsDetailMapper">

	<select id="selectGoodsDetailByGoodsId" parameterType="java.lang.Integer" resultType="com.quxin.freshfun.model.goods.GoodsDetail">
		SELECT  id , goods_id as goodsId, des , standardImgPath ,detailImgPath , carouselImgPath FROM goods_detail
		WHERE goods_id = #{goodsId}
	</select>

	<insert id="insertGoodsDetail" parameterType="com.quxin.freshfun.model.goods.GoodsDetail" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO goods_detail(goods_id , des , standardImgPath , detailImgPath , carouselImgPath)
		VALUES (#{goodsId} , #{des} , #{standardImgPath} , #{detailImgPath} , #{carouselImgPath})
	</insert>

	<update id="updateGoodsDetail" parameterType="com.quxin.freshfun.model.goods.GoodsDetail">
		UPDATE goods_detail
		<set>
			<if test="des != null">
				  des = #{des},
			</if>
			<if test="standardImgPath != null">
				standardImgPath = #{standardImgPath},
			</if>
			<if test="detailImgPath != null">
				detailImgPath = #{detailImgPath},
			</if>
			<if test="carouselImgPath != null">
				carouselImgPath = #{carouselImgPath}
			</if>
		</set>
		WHERE  goods_id = #{goodsId}
	</update>
</mapper>