<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.OrderDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.quxin.freshfun.model.orders.OrderDetailsPOJO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_details_id" property="orderDetailsId" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="actual_price" property="actualPrice" jdbcType="INTEGER" />
    <result column="delivery_num" property="deliveryNum" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="BIGINT" />
    <result column="payment_method" property="paymentMethod" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="refund_status" property="refundStatus" jdbcType="INTEGER" />
    <result column="comment_status" property="commentStatus" jdbcType="INTEGER" />
    <result column="pay_plateform" property="payPlateform" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="update_date" property="updateDate" jdbcType="BIGINT" />
    <result column="delivery_name" property="deliveryName" jdbcType="VARCHAR" />
    <result column="is_limit" property="isLimit" jdbcType="INTEGER" />
    <association property="user" column="user_id" select="com.quxin.freshfun.dao.UsersMapper.selectUserById"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, order_id, order_details_id, goods_id, actual_price, delivery_num, address_id, 
    comment_id, pay_time, payment_method, count, pay_status, order_status, refund_status, 
    comment_status, pay_plateform, is_deleted, create_date, update_date, delivery_name,is_limit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_details
    where id = #{id}
  </select>
  
    <select id="findOrderByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_details
    where goods_id = #{goodsId} and pay_status = 1 
  </select>
  
  <select id="findOrderByDetailId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_details
    where order_details_id = #{orderDetailId}
  </select>
  
  <select id="findRetOrder" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from order_details
    where refund_status = 1 
    <if test="begin!=null">
    	limit #{begin},#{pageSize}
    </if>
  </select>
  
  <update id="dealRetOrder">
  	update order_details set refund_status = #{isOk,jdbcType=INTEGER} where id = #{detailId,jdbcType=VARCHAR}
  </update>
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quxin.freshfun.model.orders.OrderDetailsPOJO" >
    insert into order_details (id, user_id, order_id, 
      order_details_id, goods_id, actual_price, 
      delivery_num, address_id, comment_id, 
      pay_time, payment_method, count, 
      pay_status, order_status, refund_status, 
      comment_status, pay_plateform, is_deleted, 
      create_date, update_date, delivery_name
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{orderDetailsId,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, #{actualPrice,jdbcType=INTEGER}, 
      #{deliveryNum,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, 
      #{payTime,jdbcType=BIGINT}, #{paymentMethod,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{payStatus,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, #{refundStatus,jdbcType=INTEGER}, 
      #{commentStatus,jdbcType=INTEGER}, #{payPlateform,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createDate,jdbcType=BIGINT}, #{updateDate,jdbcType=BIGINT}, #{deliveryName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.quxin.freshfun.model.orders.OrderDetailsPOJO" >
    insert into order_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderDetailsId != null" >
        order_details_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="deliveryNum != null" >
        delivery_num,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="paymentMethod != null" >
        payment_method,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="commentStatus != null" >
        comment_status,
      </if>
      <if test="payPlateform != null" >
        pay_plateform,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="deliveryName != null" >
        delivery_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailsId != null" >
        #{orderDetailsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="deliveryNum != null" >
        #{deliveryNum,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=INTEGER},
      </if>
      <if test="commentStatus != null" >
        #{commentStatus,jdbcType=INTEGER},
      </if>
      <if test="payPlateform != null" >
        #{payPlateform,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="deliveryName != null" >
        #{deliveryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quxin.freshfun.model.orders.OrderDetailsPOJO" >
    update order_details
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderDetailsId != null" >
        order_details_id = #{orderDetailsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=INTEGER},
      </if>
      <if test="deliveryNum != null" >
        delivery_num = #{deliveryNum,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null" >
        payment_method = #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=INTEGER},
      </if>
      <if test="commentStatus != null" >
        comment_status = #{commentStatus,jdbcType=INTEGER},
      </if>
      <if test="payPlateform != null" >
        pay_plateform = #{payPlateform,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="deliveryName != null" >
        delivery_name = #{deliveryName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quxin.freshfun.model.orders.OrderDetailsPOJO" >
    update order_details
    set user_id = #{userId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      order_details_id = #{orderDetailsId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      actual_price = #{actualPrice,jdbcType=INTEGER},
      delivery_num = #{deliveryNum,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=INTEGER},
      comment_id = #{commentId,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=BIGINT},
      payment_method = #{paymentMethod,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      refund_status = #{refundStatus,jdbcType=INTEGER},
      comment_status = #{commentStatus,jdbcType=INTEGER},
      pay_plateform = #{payPlateform,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=BIGINT},
      update_date = #{updateDate,jdbcType=BIGINT},
      delivery_name = #{deliveryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ==============================默认收货=========================================== -->
  
  <select id="queryOrderIds" resultType="java.lang.String">
  	select order_details_id from order_details where order_status=2 and (delivery_time - UNIX_TIMESTAMP(NOW()))<![CDATA[<]]>0
  </select>
  
  <update id="updateOrderStatus3" parameterType="java.util.Map">
  	update order_details set order_status = 3 , recive_time = (delivery_time + 7 * 24 * 3600) 
		where order_details_id in  
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach>
  </update>
  
  <update id="updateRevenueState" parameterType="java.util.Map">
  	update user_revenue set in_state = 2 where order_id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach>
  </update>
  
</mapper>