<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.SpecialThemeGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.quxin.freshfun.model.specialtheme.SpecialThemeGoodsPOJO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="theme_id" property="themeId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="reserved_field" property="reservedField" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, theme_id, goods_id, reserved_field
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stid_vs_gid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from stid_vs_gid
    where true
	<if test="themeId!=null">
		AND theme_id=#{themeId,jdbcType=INTEGER} AND goods_id = #{goodsId,jdbcType=INTEGER}
	</if>
  </select>
  
  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from stid_vs_gid
    where true
	<if test="goodsId!=null">
		AND goods_id = #{goodsId,jdbcType=INTEGER}
	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stid_vs_gid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByMap" parameterType="java.util.Map" >
    delete from stid_vs_gid where
    <if test="goodsId!=null">
    	goods_id = #{goodsId,jdbcType=INTEGER} AND theme_id = #{themeId,jdbcType=INTEGER}
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.quxin.freshfun.model.specialtheme.SpecialThemeGoodsPOJO" >
    insert into stid_vs_gid (id, theme_id, goods_id, 
      reserved_field)
    values (#{id,jdbcType=INTEGER}, #{themeId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{reservedField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quxin.freshfun.model.specialtheme.SpecialThemeGoodsPOJO" >
    insert into stid_vs_gid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="themeId != null" >
        theme_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="reservedField != null" >
        reserved_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="themeId != null" >
        #{themeId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="reservedField != null" >
        #{reservedField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quxin.freshfun.model.specialtheme.SpecialThemeGoodsPOJO" >
    update stid_vs_gid
    <set >
      <if test="themeId != null" >
        theme_id = #{themeId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="reservedField != null" >
        reserved_field = #{reservedField,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quxin.freshfun.model.specialtheme.SpecialThemeGoodsPOJO" >
    update stid_vs_gid
    set theme_id = #{themeId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      reserved_field = #{reservedField,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>