<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.RefundMapper" >
  <select id="selectRefundByPage" parameterType="java.util.Map" resultType="com.quxin.freshfun.model.refund.RefundPOJO">
    select id,order_details_id as orderDetailsId,service_type as serviceType,return_reason as returnReason,return_money as
      returnMoney,return_des as returnDes from refund where true
    <if test="start!=null">
       limit #{start},#{pageSize}
    </if>
  </select>
</mapper>