@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}
ul,ol,li{
    list-style:none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
header{
    width:100%;
    height:50px;
    text-indent: 20px;
    font-family: "microsoft yahei";
    font-size:30px;
    position: fixed;
    z-index: 2;
    top:0;
    background: #fff;
}
.tab{
    padding-top:50px;
    i{
        font-style: normal;
    }
    
    ul{
        li{
            a{
                i{
                    font-style: normal;
                }      
            }
            .order{
                
                table{
                    thead{
                        tr{
                            
                            height:40px;
                            background: #eee;
                            th{
                                width:140px;
//                              margin: 0 20px;
                                text-align: center;
                            }
                            
                        }
                    }
                    tbody{
                        
                        tr{
                            height:40px;
                            background: #eee;
                            th{
                                min-width:140px;
                                max-width: 400px;
                                text-align: center;
                                .orderMsg{
                                    width:100%;
                                    height:30px;
                                    text-align: left;
                                    text-indent: 40px;
                                    span{
                                        padding-left:36px;
                                    }
                                }
                                dl{
                                    dt{
                                        float: left;
                                        img{
                                            width:80px;
                                            height:80px;
                                            margin:10px;
                                        }
                                    }
                                    dd{
                                        float: left;
                                        text-align: left;
                                        text-align: -webkit-left;
                                        text-align: -moz-left;
                                        h4{
                                            width:200px;
                                            white-space:nowrap; 
                                            overflow:hidden; 
                                            text-overflow:ellipsis;
                                        }
                                        h5{
                                            width:120px;
                                            white-space:nowrap; 
                                            overflow:hidden; 
                                            text-overflow:ellipsis;
                                        }
                                        h6{
                                            width:120px;
                                            white-space:nowrap; 
                                            overflow:hidden; 
                                            text-overflow:ellipsis;
                                        }
                                    }
                                }
                                h5{
                                    cursor:pointer;
                                    color: blue;
                                }
                            }
                            .addressMsg{
                                text-align: left;
                                text-indent: 20px;
                            }
                            .copy{
                                cursor:pointer;
                                color: blue;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 760px){
    body{
//      background: red;
        font-size:50%;
    }
}
@media screen and (min-width: 760px) and (max-width: 1470px){
    body{
//      background: red;
        font-size:12px;
    }
}
@media screen and (min-width: 1470px) and (max-width: 2000px){
    body{
//      background: green;
        font-size:16px;
    }
}

.remarkFrame{
    width:400px;
    height:200px;
    border:1px solid #000;
    position: fixed;
    z-index: 4;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    background: #fff;
    .title{
        width: 100%;
        height:30px;
        text-align: center;
        line-height: 30px;
        font-size: 22px;
    }
    .textarea{
        width:340px;
        height:120px;
        border: 1px solid #000;
        margin:0 30px;
        textarea{
            width:338px;
            height:118px;
        }
    }
    .btn-YN{
        width:100%;
        height:46px;
        padding-top:10px;
        button{
            margin-left:80px;
            width:80px;
            height: 30px;
            float: left;
            border:0;
            border-radius: 5px;
        }
        .btn-Y{
            background: green;
        }
        .btn-N{
            background: #bbb;
        }
        
    }
}
