<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.SpecialMallGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.quxin.freshfun.model.specialmall.SpecialMallGoodsPOJO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mall_id" property="mallId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="reserved_field" property="reservedField" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mall_id, goods_id, reserved_field
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from smid_vs_gid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from smid_vs_gid
    where true
	<if test="mallId!=null">
		AND mall_id=#{mallId,jdbcType=INTEGER} AND goods_id = #{goodsId,jdbcType=INTEGER}
	</if>
  </select>
  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from smid_vs_gid
    where true
	<if test="goodsId!=null">
		AND goods_id = #{goodsId,jdbcType=INTEGER}
	</if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from smid_vs_gid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="delete" parameterType="java.util.Map" >
    delete from smid_vs_gid
    where true
    <if test="goodsId!=null">
    	and mall_id = #{mallId,jdbcType=INTEGER} and goods_id = #{goodsId,jdbcType=INTEGER}
    </if>
  </delete>
  <insert id="insert" parameterType="com.quxin.freshfun.model.specialmall.SpecialMallGoodsPOJO" >
    insert into smid_vs_gid (id, mall_id, goods_id, 
      reserved_field)
    values (#{id,jdbcType=INTEGER}, #{mallId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{reservedField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.quxin.freshfun.model.specialmall.SpecialMallGoodsPOJO" >
    insert into smid_vs_gid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mallId != null" >
        mall_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="reservedField != null" >
        reserved_field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mallId != null" >
        #{mallId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="reservedField != null" >
        #{reservedField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quxin.freshfun.model.specialmall.SpecialMallGoodsPOJO" >
    update smid_vs_gid
    <set >
      <if test="mallId != null" >
        mall_id = #{mallId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="reservedField != null" >
        reserved_field = #{reservedField,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quxin.freshfun.model.specialmall.SpecialMallGoodsPOJO" >
    update smid_vs_gid
    set mall_id = #{mallId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      reserved_field = #{reservedField,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>