<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quxin.freshfun.dao.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.quxin.freshfun.model.activity.ActivityPOJO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="BIGINT" />
    <result column="gmt_modified" property="gmtModified" jdbcType="BIGINT" />
    <result column="activity_des" property="activityDes" jdbcType="VARCHAR" />
    <result column="activity_img" property="activityImg" jdbcType="VARCHAR" />
    <result column="activity_info_img" property="activityInfoImg" jdbcType="VARCHAR" />
    <result column="activity_content" property="activityContent" jdbcType="VARCHAR" />
    <result column="activity_info_content" property="activityInfoContent" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, activity_des, activity_img, activity_info_img, activity_content, 
    activity_info_content, is_deleted
  </sql>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
  </select>
  
   <update id="deleteActity" parameterType="com.quxin.freshfun.model.activity.ActivityPOJO" >
    update activity
    set is_deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="addActivity" parameterType="com.quxin.freshfun.model.activity.ActivityPOJO" >
    insert into activity (id, gmt_create, gmt_modified, 
      activity_des, activity_img, activity_info_img, 
      activity_content, activity_info_content, is_deleted
      )
    values (#{id,jdbcType=INTEGER}, #{gmtCreate,jdbcType=BIGINT}, #{gmtModified,jdbcType=BIGINT}, 
      #{activityDes,jdbcType=VARCHAR}, #{activityImg,jdbcType=VARCHAR}, #{activityInfoImg,jdbcType=VARCHAR}, 
      #{activityContent,jdbcType=VARCHAR}, #{activityInfoContent,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.quxin.freshfun.model.activity.ActivityPOJO" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="activityDes != null" >
        activity_des,
      </if>
      <if test="activityImg != null" >
        activity_img,
      </if>
      <if test="activityInfoImg != null" >
        activity_info_img,
      </if>
      <if test="activityContent != null" >
        activity_content,
      </if>
      <if test="activityInfoContent != null" >
        activity_info_content,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="activityDes != null" >
        #{activityDes,jdbcType=VARCHAR},
      </if>
      <if test="activityImg != null" >
        #{activityImg,jdbcType=VARCHAR},
      </if>
      <if test="activityInfoImg != null" >
        #{activityInfoImg,jdbcType=VARCHAR},
      </if>
      <if test="activityContent != null" >
        #{activityContent,jdbcType=VARCHAR},
      </if>
      <if test="activityInfoContent != null" >
        #{activityInfoContent,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateActivity" parameterType="com.quxin.freshfun.model.activity.ActivityPOJO" >
    update activity
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
      </if>
      <if test="activityDes != null" >
        activity_des = #{activityDes,jdbcType=VARCHAR},
      </if>
      <if test="activityImg != null" >
        activity_img = #{activityImg,jdbcType=VARCHAR},
      </if>
      <if test="activityInfoImg != null" >
        activity_info_img = #{activityInfoImg,jdbcType=VARCHAR},
      </if>
      <if test="activityContent != null" >
        activity_content = #{activityContent,jdbcType=VARCHAR},
      </if>
      <if test="activityInfoContent != null" >
        activity_info_content = #{activityInfoContent,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>